h1{

    color: orange
}
    
p{
    color: rgb(232, 160, 28);
    background-color: black;
}

h2{
    color: orange;
}

body{
    background-color: black;
}

h6 {
    display: inline-block;
    background-color: orange;
    color: black;
    padding: 8px 20px;
    border-radius: 999px;
    box-shadow: 0 4px 12px rgba(232, 160, 28, 0.4);
}

h6:hover{
    display: inline-block;
    background-color: rgb(204, 199, 190);
    color: black;
    padding: 8px 20px;
    border-radius: 999px;
    box-shadow: 0 4px 12px rgba(232, 160, 28, 0.4);
}


a{
    display: inline-block;
    background-color: royalblue;
    color: black;
    padding: 6px 18px;
    border-radius: 999px;
    text-decoration: none;
}

a:hover{
    display: inline-block;
    background-color: rgb(196, 207, 241);
    color: black;
    padding: 6px 18px;
    border-radius: 999px;
    text-decoration: none;
}